<div class="wrapper">
    <div class="section features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <%= link_to students_path do %>
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                  <i class="fa fa-users"></i>
                </div>
                <h6 class="info-title text-uppercase text-success">Alumnos</h6>
                <p class="description opacity-8">Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</p>
                <p class="text-primary">Encuentra el candidato ideal...</p>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <%= link_to companies_path do %>
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                  <i class="fa fa-building"></i>
                </div>
                <h6 class="info-title text-uppercase text-primary">Empresas</h6>
                <p class="description opacity-8">We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
                <p class="text-primary">Miles de empresas están buscándote...</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to job_offers_path do %>
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                  <i class="fa fa-clipboard"></i>
                </div>
                <h6 class="info-title text-uppercase text-warning">Ofertas laborales</h6>
                <p class="description opacity-8">What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great. or being a bright color. For standing out.</p>
                <p class="text-primary">El trabajo de tus sueños a solo un clic...</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
