<div class="wrapper">
    <div class="section features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <%= link_to students_path do %>
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                  <i class="fa fa-users"></i>
                </div>
                <h6 class="info-title text-uppercase text-success">Alumnos</h6>
                <p class="description opacity-8">¿Estás buscando recursos con una sólida formación? En la UNAJ preparamos a nuestros alumnos para desempeñarse en diversos y númerosos proyectos.</p>
                <p class="text-primary">Encontrá el perfíl adecuado aquí</p>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <%= link_to companies_path do %>
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                  <i class="fa fa-building"></i>
                </div>
                <h6 class="info-title text-uppercase text-primary">Empresas</h6>
                <p class="description opacity-8">Desde la UNAJ trabajamos diariamente para que nuestros alumnos tengan las mejores herramientas. Por esa razón trabajamos a la par con reconocidas empresas.</p>
                <p class="text-primary">Cientos de ofertas te esperan aquí</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to job_offers_path do %>
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                  <i class="fa fa-briefcase"></i>
                </div>
                <h6 class="info-title text-uppercase text-warning">Ofertas laborales</h6>
                <p class="description opacity-8">¿Sos alumno de alguna de nuestras carreras? ¿Estás en búsqueda de tu primera experiencia laboral? Aquí podrás encontrar numerosas posibilidades.</p>
                <p class="text-primary">El empleo de tus sueños se encuentra aquí</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
