<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0 py-4">
            <div class="card-header bg-white pb-5">
            <div class="card-body">
              <div class="text-center text-muted mb-4">
                <small>Iniciar sesión</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "off", type: "email", placeholder: "Email", class: "form-control", input_html: { :autocomplete => "off" } %>
                  </div>
                </div>
                <div class="form-group focused">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <%= f.password_field :password, autocomplete: 'off', class: "form-control", placeholder: "Password" %>
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "Ingresar", class:"btn btn-primary my-4"%>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
